.image_gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
  gap: 30px;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 90px;
  padding-bottom: 10px;
}

.image_card {
  border: 1px solid #8491A3;
  border-radius: 5px;
  padding: 10px;
  color: white;
  width: 256px;
  background-color: #181A23;
  transition: box-shadow 0.3s ease;
  position: relative;
}

.image_card:hover {
  box-shadow: 0 4px 30px rgba(255, 255, 255, 0.4);
}


.image_card img {
  width: 100%;
  height: auto;
  border-radius: 3px;
  object-fit: cover
}

.image_container {
  width: 256px;
  height: 256px;
  object-fit: cover;
  position: relative;
}

.button_container {
  position: absolute;
  bottom: 5px;
  right: 5px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image_card:hover .button_container {
  opacity: 1;
}

.image_card:hover .button_container .edit_button,
.image_card:hover .button_container .delete_button {
  opacity: 1;
  cursor: pointer;
}

.edit_button:hover,
.delete_button:hover {
  background-color: #333;
}

.edit_button,
.delete_button {
  border: none;
  border-radius: 5px;
  background-color: #181A23;
  margin-left: 5px;
  width: 35px;
  height: 35px;
}

.delete_button img {
  width: 20px;
}

.edit_button img {
  width: 20px;
}

.edit_icon,
.delete_icon {
  width: 5px;
  height: 5px;
}